<style>
        .panel{
            border: 1px solid;
            border-color: lightblue;
            border-radius: 5px;
        }
        .panel-left{
            width: 68%;
        }

        .panel-right{
            width: 28%;
        }
        .table{
            width: 98% !important;
            margin-left: 5px;
            margin-right: auto;
        }

        .pagination{
            padding: 0px !important;
            height: 20px !important;
        }
        .top-links{
            width: 100%;
            border: none;
            border-bottom: 1px solid lightcyan;
            height: 15px !important;
         }

        .pull-right{
            margin-right: 30px;
        }
</style>
<div class="top-links">
  <button href="#" class="btn btn-primary btn-xs pull-right">New code snippet</button>
</div>
<table class="table">
     <tr>
       <td class=" panel panel-left">
            <div class="panel">
                &nbsp;
            </div>
       </td>
       <td  class="panel panel-right">
            <div class="panel">
                &nbsp;
            </div>
       </td>
    </tr>
</table>
<div class="dynamic navbar-fixed-bottom"    style="min-height: 19px !important; color: white; text-align: center !important; padding-top: 0px !important;">
  <ul class="pagination">
    <li class="disabled"><a href="#">«</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>