<style>
        .panel{
            border: 1px solid;
            border-color: lightblue;
            border-radius: 5px;
        }
        .panel-left{
            width: 68%;
            max-height: 200px !important;
            height: 200px !important;
            overflow: auto;
        }

        .panel-right{
            width: 28%;
        }
        .table{
            width: 98% !important;
            margin-left: 5px;
            margin-right: auto;
        }

        .pagination{
            padding: 0px !important;
            height: 20px !important;
        }
        .top-links{
            width: 100%;
            border: none;
            border-bottom: 1px solid lightcyan;
            height: 15px !important;
         }

        .pull-right{
            margin-right: 30px;
        }
        .list-group-item{
            font-size: 15px;
        }
        .list-active{
            background: rgb(200, 255, 215);
           font-size:16px;
        }
        .list-desc{
            font-size: 13px;
            font-style: italic;
            padding-left: 15px;
        }
        .list-lang{
            color: green;
            font-weight: bold;
        }
        iframe{
            width: 100%;
            height: 80vh;
            border: none;
        }
</style>
<div class="top-links">
  <button href="#" class="btn btn-primary btn-xs pull-right">New code snippet</button>
</div>
<table class="table">
     <tr>
       <td class=" panel panel-left">
            <div class="panel">
                &nbsp;
             <iframe src="hacks/code"></iframe>
            </div>
       </td>
       <td  class="panel panel-right">
            <div class="panel">
                &nbsp;
              <ul class="list-group">
                <li class="list-group-item list-active">Playlist navigations<br />
                  <span class="list-desc">2 lines; <span class = "list-lang">ruby</span></span></li>
                <li class="list-group-item">Touchscreen date functions</li>
                <li class="list-group-item">Filling number fix</li>
                <li class="list-group-item">Migration script for ntcheu</li>
                <li class="list-group-item">.example yaml for HTC</li>
                <li class="list-group-item">Fix for encounter dates mismatch  with obs dates</li>
                <li class="list-group-item">Routes backup file for old bart2</li>
              </ul>
            </div>
       </td>
    </tr>
</table>
